mixin heading
  - const { size = 1 } = attributes;
  - const { as = `h${size}` } = attributes;

  case size
    when 1
      #{as}(class="text-2xl font-bold text-ink")&attributes(attributes)
        block
    when 2
      #{as}(class="text-xl font-bold text-ink")&attributes(attributes)
        block
    when 3
      #{as}(class="text-lg font-bold text-ink")&attributes(attributes)
        block
    when 4
      #{as}(class="font-bold text-md text-ink")&attributes(attributes)
        block
    when 5
      #{as}(class="text-sm font-bold text-ink")&attributes(attributes)
        block
    when 6
      #{as}(class="text-xs font-bold text-ink")&attributes(attributes)
        block