mixin heading
  - 
    let { size = 1, as, ...attrs } = attributes;

    if (!as) {
      as = `h${size}`
    };

  case size
    when 1
      #{as}(class="text-2xl font-bold text-ink")&attributes(attrs)
        block
    when 2
      #{as}(class="text-xl font-bold text-ink")&attributes(attrs)
        block
    when 3
      #{as}(class="text-lg font-bold text-ink")&attributes(attrs)
        block
    when 4
      #{as}(class="font-bold text-md text-ink")&attributes(attrs)
        block
    when 5
      #{as}(class="text-sm font-bold text-ink")&attributes(attrs)
        block
    when 6
      #{as}(class="text-xs font-bold text-ink")&attributes(attrs)
        block