include _element.pug

mixin form
  form(class="flex flex-col gap-y-12")&attributes(attributes)
    block

mixin fieldset
  fieldset(class="flex flex-col gap-y-6")&attributes(attributes)
    if attributes.legend
      legend(class="sr-only")= attributes.legend
    block

mixin fieldsetHeading
  h4(class="text-base font-medium text-ink")
    block

mixin fieldsetSubheading
  p(class="text-sm leading-5 text-ink-lighter")
    block

mixin label
  label.text-sm.font-normal.block(class="label")&attributes(attributes)
    block

mixin field
  - const { orientation = "vertical" } = attributes;
  case orientation
    when "vertical"
      div(class="flex flex-col gap-y-1")&attributes(attributes)
        block
    when "horizontal"
      div(class="flex gap-x-2")&attributes(attributes)
        block

mixin fieldDescription
  div&attributes(attributes)
    block

mixin input
  input&attributes(attributes)

mixin select
  select.border.border-sky.rounded-lg.w-full.h-12.p-3&attributes(attributes)
    block

mixin option
  option&attributes(attributes)
    block

mixin textInput
  +input.border.border-sky.rounded-lg.w-full.h-12.p-3(type="text")&attributes(attributes)

mixin emailInput
  +input.border.border-sky.rounded-lg.w-full.h-12.p-3(type="email")&attributes(attributes)

mixin radioInput
  +input(type="radio")&attributes(attributes)

mixin checkboxInput
  +input(type="checkbox")&attributes(attributes)

mixin textInputField
  +field
    +label(for=attributes.id)= attributes.label
    +textInput&attributes(attributes)

mixin emailInputField
  +field
    +label(for=attributes.id)= attributes.label
    +emailInput&attributes(attributes)

mixin radioInputField
  +field(orientation="horizontal")
    +radioInput&attributes(attributes)
    div
      +label(for=attributes.id)= attributes.label
      +fieldDescription= attributes.description

mixin checkboxInputField
  +field(orientation="horizontal")
    +checkboxInput&attributes(attributes)
    div
      +label(for=attributes.id)= attributes.label
      +fieldDescription= attributes.description

mixin selectField
  +field
    +label(for=attributes.id)= attributes.label
    +select&attributes(attributes)
      block
