include _element.pug

mixin backIcon
  svg(
    fill="none"
    height="12"
    viewBox="0 0 6 12"
    width="6"
    xmlns="http://www.w3.org/2000/svg"
  )&attributes(attributes)
    path(
      clip-rule="evenodd"
      d="M5.13807 1.02876C5.39842 1.28911 5.39842 1.71122 5.13807 1.97157L1.60948 5.50016L5.13807 9.02876C5.39842 9.28911 5.39842 9.71122 5.13807 9.97157C4.87772 10.2319 4.45561 10.2319 4.19526 9.97157L0.195262 5.97157C-0.0650874 5.71122 -0.0650874 5.28911 0.195262 5.02876L4.19526 1.02876C4.45561 0.768409 4.87772 0.768409 5.13807 1.02876Z"
      fill="#637381"
      fill-rule="evenodd"
    )

mixin outlineIcon(name)
  case name
    when "annotation"
      svg(xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor")&attributes(attributes)
        path(stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z")
    when "information-circle"
      svg(xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor")&attributes(attributes)
        path(stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z")

mixin solidIcon(name)
  case name
    when "annotation"
      svg(xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor")&attributes(attributes)
        path(fill-rule="evenodd" d="M18 13V5a2 2 0 00-2-2H4a2 2 0 00-2 2v8a2 2 0 002 2h3l3 3 3-3h3a2 2 0 002-2zM5 7a1 1 0 011-1h8a1 1 0 110 2H6a1 1 0 01-1-1zm1 3a1 1 0 100 2h3a1 1 0 100-2H6z" clip-rule="evenodd")
