include ./element.pug

include ./icons/outline/informationCircle.pug

mixin callout(tagName = "div")
  -
    const { size = 'medium', icon, ...attrs } = attributes;

    const base = [
      'bg-sky-light',
      'rounded-md',
      'flex',
      'gap-x-2',
      'w-full'
    ];

    const sizes = {
      small: [
        'p-4',
        'text-sm'
      ],
      medium: [
        'p-6',
        'text-base'
      ]
    };

    const classNames = [...base, ...sizes[size]].sort();
    const blockClassNames = { 'pt-2px': icon };
    const stackSize = { small: 4, medium: 6 }[size];

  +element(tagName)(class=classNames)&attributes(attrs)
    if icon
      +calloutIcon
    +stack(size=stackSize class=blockClassNames)
      block

mixin calloutIcon
  +informationCircleOutlineIcon.grow-0.shrink-0.text-blue

mixin calloutText(tagName = "div")
  -
    const { size = 'medium', ...attrs } = attributes;

    const stackSizes = {
      small: 1,
      medium: 2
    };

    const stackSize = stackSizes[size];

  +stack(size=stackSize)&attributes(attrs)
    block

mixin calloutHeading(tagName = "h1")
  -
    const { size = 'medium', ...attrs } = attributes;

    const base = [
      'font-bold',
      'leading-5',
    ];

    const sizes = {
      small: [
        'text-sm',
      ],
      medium: [
        'text-base',
      ]
    };

    const classNames = [...base, ...sizes[size]].sort();

  +element(tagName)(class=classNames)&attributes(attrs)
    block

mixin calloutBody(tagName = "div")
  -
    const { size = 'medium', ...attrs } = attributes;

    const base = [
      'flex',
      'flex-col',
      'font-normal',
    ];

    const sizes = {
      small: [
        'text-sm',
        'leading-5',
      ],
      medium: [
        'text-base',
        'leading-6',
      ]
    };

    const classNames = [...base, ...sizes[size]].sort();

  +element(tagName)(class=classNames)&attributes(attrs)
    block

mixin calloutAction
  - const classNames = ['flex', 'flex-row', 'items-center', 'gap-x-4']
 
  +element("div")(class=classNames)
    block

mixin calloutButton
  +primaryButton&attributes(attributes)
    block

mixin calloutLink
  - const classNames = ['text-blue'];

  +link(class=classNames)&attributes(attributes)
    block
