include ./element.pug
include ./stack.pug

include ./icons/solid/lockClosed.pug
include ./icons/solid/mail.pug
include ./icons/solid/search.pug
include ./icons/solid/selector.pug

mixin form
  +stack("form")(size=12)&attributes(attributes)
    block

mixin fieldset
  +stack("fieldset")(size=3)
    if attributes.legend
      div= attributes.legend
    +stack(size=6)&attributes(attributes)
      block

mixin fieldsetHeading
  h4(class="text-base font-medium text-ink")
    block

mixin fieldsetSubheading
  p(class="text-sm leading-5 text-ink-lighter")
    block

mixin label
  label.text-sm.text-ink.font-normal.block&attributes(attributes)
    block

mixin field
  +stack(size=2)
    if attributes.label
      +label(for=(attributes.id || attributes.name))= attributes.label
    +stack(size=1)
      block
      if attributes.errorText
        +fieldErrorText= attributes.errorText
      else if attributes.helpText
        +fieldHelpText= attributes.helpText

mixin fieldErrorText
  -
    const classNames = [
      'text-red',
      'text-xs'
    ];

  +element('p')(class=classNames)
    block

mixin fieldHelpText
  p.text-ink-lighter.text-xs
    block

mixin input(tagName = "input")
  -
    const { type = 'text', invalid = false, icon = false, size = 'medium', tags = [] } = attributes;

    const input = {
      default: {
        classNames: [
          'border-sky-dark',
          'border',
          'disabled:bg-sky-light',
          'disabled:cursor-not-allowed',
          'flex',
          'focus-within:border-blue',
          'focus-within:hover:border-blue',
          'focus:outline-0',
          'hover:border-ink-lightest',
          'items-center',
          'w-full',
          'transition',
        ]
      },
      icon: {
        true: {
          classNames: [
            'pl-10'
          ]
        },
        false: {
          classNames: []
        }
      },
      sizes: {
        small: {
          classNames: [
            'h-8',
            'px-2',
            'rounded-md',
            'text-sm',
          ]
        },
        medium: {
          classNames:[
            'h-12',
            'px-3',
            'rounded-lg',
          ]
        }
      }
    };

    const classNames = [
      ...input.default.classNames,
      ...input.icon[icon].classNames,
      ...input.sizes[size].classNames
    ].sort();

    const iconClassNames = [
      'text-ink-lightest',
      'h-full',
      'flex',
      'justify-center',
      'items-center',
      'absolute',
      'm-1px',
      'py-3',
      'left-3'
    ];

  .relative
    if icon
      +element("div")(class=iconClassNames)
        +inputIcon(type)
    +element(tagName)(class=classNames)&attributes(attributes)
      block

mixin inputIcon(type)
  case type
    when "email"
      +mailSolidIcon&attributes(attributes)
    when "password"
      +lockClosedSolidIcon&attributes(attributes)
    when "search"
      +searchSolidIcon&attributes(attributes)

mixin select
  -
    const url = "data:image/svg+xml,%3Csvg width='30' height='20' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 20' fill='grey' aria-hidden='true'%3E%3Cpath fill-rule='evenodd' d='M10 3a1 1 0 01.707.293l3 3a1 1 0 01-1.414 1.414L10 5.414 7.707 7.707a1 1 0 01-1.414-1.414l3-3A1 1 0 0110 3zm-3.707 9.293a1 1 0 011.414 0L10 14.586l2.293-2.293a1 1 0 011.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E";
    const style = {
      background: `url("${url}") no-repeat right center`
    };

  +input("select")(style=style)&attributes(attributes)
    block

mixin option
  option&attributes(attributes)
    block

mixin selectField
  -
    const { label, errorText, helpText, ...selectAttributes } = attributes;
    const fieldAttributes = { label, errorText, helpText };

  +field&attributes(fieldAttributes)
    +select&attributes(selectAttributes)
      block

mixin inputField
  -
    const { label, errorText, helpText, ...inputAttributes } = attributes;
    const fieldAttributes = { label, errorText, helpText };

  +field&attributes(fieldAttributes)
    +input&attributes(inputAttributes)

mixin emailInputField
  +inputField(type="email" icon)&attributes(attributes)

mixin passwordInputField
  +inputField(type="password" icon)&attributes(attributes)

mixin searchInputField
  +inputField(type="search" icon)&attributes(attributes)

mixin textInputField
  +inputField(type="text")&attributes(attributes)

mixin checkboxInput
  -
    const classNames = [
      'appearance-none',
      'border-sky-dark',
      'border',
      'checked:bg-blue',
      'checked:border-blue',
      'disabled:bg-sky-dark',
      'disabled:checked:border-sky-dark',
      'focus:border-blue',
      'grow-0',
      'h-4',
      'hover:border-ink-lightest',
      'outline-0',
      'rounded-md',
      'shrink-0',
      'w-4',
    ];

  input(type="checkbox" class=classNames style=style)&attributes(attributes)

mixin checkboxInputField
  -
    const { label, errorText, helpText, ...checkboxAttributes } = attributes;
    const fieldAttributes = { label, errorText, helpText };

  +stack
    label.flex.flex-row.gap-x-2.items-center.text-ink&attributes(fieldAttributes)
      +checkboxInput&attributes(checkboxAttributes)
      = label
    if helpText
      .text-ink-lighter.ml-6= helpText

mixin checkboxInputFieldset
  +fieldset(size=2)&attributes(attributes)
    block

mixin radioInput
  -
    const classNames = [
      'appearance-none',
      'border-sky-dark',
      'border',
      'checked:bg-blue',
      'checked:border-blue',
      'disabled:bg-sky-dark',
      'disabled:checked:border-sky-dark',
      'focus:border-blue',
      'grow-0',
      'h-4',
      'hover:border-ink-lightest',
      'outline-0',
      'rounded-full',
      'shrink-0',
      'w-4',
    ];

  input(type="radio" class=classNames style=style)&attributes(attributes)

mixin radioInputField
  -
    const { label, errorText, helpText, ...checkboxAttributes } = attributes;
    const fieldAttributes = { label, errorText, helpText };

  +stack
    label.flex.flex-row.gap-x-2.items-center.text-ink&attributes(fieldAttributes)
      +radioInput&attributes(checkboxAttributes)
      = label
    if helpText
      .text-ink-lighter.ml-6= helpText

mixin radioInputFieldset
  +fieldset(size=2)&attributes(attributes)
    block
