include ./element.pug
include ./dialog.pug

include ./icons/solid/x.pug

mixin modalDialog(tagName = "dialog")
  - const { size } = attributes;

  +dialog&attributes(attributes)
    +modal(size=size)
      block

mixin modal(tagName = "div")
  -
    const { size = "small" } = attributes;

    const modal = {
      default: {
        classNames: [
          'rounded-lg',
          'bg-white',
          'shadow-xl',
          'flex',
          'flex-col'
        ],
        style: {
          'max-height': "80vh",
        }
      },
      size: {
        small: {
          style: {
            width: "min(552px, calc(100vw - 4rem))",
          },
        },
        large: {
          style: {
            width: "min(1104px, calc(100vw - 4rem))",
          },
        },
      },
    };

    const style = { ...modal.default.style, ...modal.size[size].style };
    const classNames = [ ...modal.default.classNames ];

  +element(tagName)(class=classNames style=style)&attributes(attributes)
    block

mixin modalBody(tagName = "section")
  -
    const { scroll = false, ...attrs } = attributes;

    const classNames = {
      'px-6': true,
      'py-6': scroll,
      'border-y': scroll,
      'border-y-sky': scroll,
      'scroll-auto': scroll,
      'scroll-smooth': scroll,
      'overflow-scroll': true,
      'flex': true,
      'flex-col': true,
      'gap-y-6': true,
    };

  +element(tagName)(class=classNames)&attributes(attrs)
    block
      
mixin modalCloseButton
  button(data-action="close" tabindex="-1").h-5.w-5&attributes(attributes)
    +xSolidIcon.text-ink-lighter

mixin modalFooter(tagName = "footer")
  -
    const classNames = [
      'p-6',
      'flex',
      'flex-col',
      'gap-4',
      'sm:flex-row',
      'sm:justify-end',
      'grow-0',
      'shrink-0'
    ];

  +element('footer')(class=classNames)&attributes(attributes)
    block 

mixin modalHeader(tagName = "header")
  header.px-6.pt-6.pb-4.flex.justify-between.grow-0.shrink-0
    .flex.flex-col.gap-y-1
      block
    +modalCloseButton

mixin modalTitle(tagName = "h4")
  +element(tagName).font-bold.text-md.leading-none
    block

mixin modalSubTitle(tagName = "h4")
  +element(tagName).text-sm.text-ink-lighter
    block
