doctype html

include ../pug/mixins.pug

html(lang="en")
  head
    meta(charset="UTF-8")
    title Windy | Practio ♥ Tailwind
    meta(name="description" content="Practio ♥ Tailwind")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../css/windy.css")
    link(rel="stylesheet" href="https://rsms.me/inter/inter.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap" rel="stylesheet")

  body(class="font-sans bg-sky-light")
    +container
      +heading1.mb-1 Windy
      +paragraph.mb-8 Practio ♥ Tailwind...

      include ./sections/_avatars.pug
      include ./sections/_badges.pug
      include ./sections/_buttons.pug
      include ./sections/_callouts.pug
      include ./sections/_cards.pug
      include ./sections/_descriptionLists.pug
      include ./sections/_dialogs.pug
      include ./sections/_dropdowns.pug
      include ./sections/_forms.pug
      include ./sections/_headings.pug
      include ./sections/_icons.pug
      include ./sections/_menu.pug
      include ./sections/_modals.pug
      include ./sections/_nav.pug
      include ./sections/_navbars.pug
      include ./sections/_table.pug
      include ./sections/_toast.pug
      include ./sections/_util.pug

      +section
        +heading2.mb-8 Examples

        +heading3.mb-1 Form Page
        +paragraph.mb-8 A full page with a header, paragraph and form.
        +example.mb-8
          +narrowContainer("main")
            +criticalToast.mb-8 Oh no!
            +heading1.mb-1(size=3) New Thing
            +paragraph.mb-8 Create a new thing.
            +form(action="" method="POST")
              +fieldset
                +textInputField(
                  id="field_1"
                  label="Field 1"
                  maxlength="5"
                  name="authorizationId"
                  pattern="[0-9A-Z]{5}"
                  placeholder="AB123"
                )
                +textInputField(
                  id="field_2"
                  label="Field 2"
                  maxlength="10"
                  name="cpr"
                  pattern="[0-9]{10}"
                  placeholder="1507841121"
                )
              +button.w-full(kind="primary" size="large" type="submit")
                +plusSmSolidIcon
                | Create new thing

        +heading3.mb-1 List Page
        +paragraph.mb-8 A full page with a header, subheader, and filterable list
        +example
          +container("main")
            +heading1.mb-1(size=3) Things
            +paragraph.mb-8 List of all the things.
            +navbar.mb-8
              +form
                +searchInputField(
                  name="search"
                  placeholder="Name"
                  size="small"
                )
              +dropdown
                +dropdownButton(data-target="#filter1") Filter 1
                +dropdownMenu#filter1
                  +menuLink(href="#") Value 1.1
                  +menuLink(href="#") Value 1.2
              +dropdown
                +dropdownButton(data-target="#filter2") Filter 2
                +dropdownMenu#filter2
                  +menuLink(href="#") Value 2.1
                  +menuLink(href="#") Value 2.2
            .mb-8
              +table
                +thead
                  +tr 
                    +th Field 1
                    +th Field 2
                +tbody
                  +tr 
                    +td Value 1.1
                    +td Value 1.2
                  +tr 
                    +td Value 2.1
                    +td Value 2.2
            .flex.gap-x-3.justify-end
              +secondaryButton
                +chevronLeftSolidIcon
                | Previous
              +secondaryButton
                | Next
                +chevronRightSolidIcon

script(src="../js/windy.js")
